/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-size: 0.875rem;
}
.btn {
  background: transparent;
  border: 2px solid black;
  padding: 0.25rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0.25rem;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin: 0.5rem;
  display: inline-block;
}
.btn:hover {
  color: white;
  background-color: black;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
/*
=============
reviews
=============
*/
main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container {
  width: 80vw;
  max-width: 620px;
}
.title {
  text-align: center;
  margin-bottom: 4rem;
}
.underline {
  background-color: rgb(95, 155, 233);
  width: 7rem;
  height: 0.3rem;
  border-radius: 0.25rem;
  margin: auto;
}
.review {
  padding: 1.5rem 2rem;
  background: #fff;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 2.5rem;
  transition: all 0.3s linear;
}
.review:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.img-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
.img-container::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f10e";
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(25%);
  background: hsl(205, 78%, 60%);
  color: white;
}
.img-container::before {
  content: "";
  width: 100%;
  height: 100%;
  background: hsl(205, 78%, 60%);
  position: absolute;
  top: -0.25rem;
  right: -0.5rem;
  border-radius: 50%;
}
#person-img {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
#author {
  margin-bottom: 0.25rem;
}
#job {
  text-transform: uppercase;
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
  color: hsl(205, 78%, 60%);
}
#info {
  margin-bottom: 0.75rem;
}
.prev-btn,
.next-btn {
  color: hsl(205, 90%, 76%);
  background: transparent;
  border: transparent;
  font-size: 1.25rem;
  margin: 0 0.5rem;
  transition: all 0.3s linear;
  cursor: pointer;
}
.prev-btn:hover,
.next-btn:hover {
  color: hsl(205, 78%, 60%);
}

.random-btn {
  color: hsl(205, 78%, 60%);
  background: transparent;
  border: 1px solid hsl(205, 78%, 60%);
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.25rem;
  border-radius: 0.55rem;
  transition: all 0.3s linear;
  cursor: pointer;
}
.random-btn:hover {
  color: white;
  background-color: hsl(205, 78%, 60%);
}
